/* Colors */
/* Typography*/
.site {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer {
  margin-top: auto;
}

.site-main {
  padding-bottom: 4em;
}

/* Columns */
@media (max-width: 781px) {
  .wp-block-columns {
    justify-content: center;
  }
}
@media (min-width: 782px) {
  .wp-block-columns.narrower .wp-block-column:not(:first-child) {
    margin-left: 5em;
  }
}

@media (max-width: 781px) {
  .wp-block-column {
    margin: 0 !important;
  }
}
.wp-block-column:not(:first-child) {
  margin-left: 1.5em;
}

/* Groups */
.wp-block-group.alignwide {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 782px) {
  .wp-block-group.alignwide {
    border-bottom: 1px dashed #42a1c2;
  }
}
@media (min-width: 782px) {
  .wp-block-group.alignwide.no-border {
    border-bottom: none;
  }
}

@media (max-width: 921px) {
  .wp-block-group {
    padding: 2em 0;
  }
}
@media (min-width: 922px) {
  .wp-block-group {
    padding: 2em;
  }
}

/* Archive */
.archive .site-main > .ast-row,
.search-results .site-main > .ast-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.archive #primary,
.search-results #primary {
  margin-top: 0;
}

/* Footer */
@media (max-width: 921px) {
  .footer-adv-widget-1,
.footer-adv-widget-2 {
    display: none;
  }
}
.footer-address-block {
  display: flex;
  align-items: flex-start;
}
@media (min-width: 922px) {
  .footer-address-block {
    justify-content: flex-end;
  }
}

/* Spacing */
.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

@media (max-width: 781px) {
  .mb-mobile-1 {
    margin-bottom: 0.8em !important;
  }
}

.mb-1 {
  margin-bottom: 0.4em !important;
}

.mb-2 {
  margin-bottom: 1.6em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* Width */
@media (min-width: 922px) {
  .w-65 {
    width: 65%;
    margin: 0 auto;
  }
}

@media (min-width: 922px) {
  .w-85 {
    width: 85% !important;
    margin: 0 auto !important;
  }
}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media (min-width: 922px) {
  .fullwidth-lg {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@media (min-width: 922px) {
  .mepr-account-form {
    width: 65%;
  }
}

/* Flex */
.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Typographie */
blockquote {
  margin: 0;
  padding: 1em 0;
  border: none;
  color: #ed7f47;
  font-family: "Source Serif Pro", serif;
  font-size: 27px;
  text-align: center;
}
@media (max-width: 921px) {
  blockquote {
    font-size: 22px;
  }
}
blockquote:before {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: 0.5em auto;
  background-color: #ed7f47;
}
blockquote:after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: 0.5em auto;
  background-color: #ed7f47;
}
blockquote.text-align-left {
  width: 80%;
  text-align: left;
}
blockquote.text-align-left::before {
  margin-left: 5%;
}
blockquote.text-align-left::after {
  margin-left: 5%;
}

.text-brand-blue {
  color: #42a1c2 !important;
}

.text-brand-orange {
  color: #ed7f47 !important;
}

.text-serif {
  font-family: "Source Serif Pro", serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.entry-content ul {
  margin-left: 1em;
}

.angle-right a {
  text-decoration: underline;
}
.angle-right a::before {
  content: url("../img/angle-right.svg");
  display: inline-block;
  width: 9px;
  margin-right: 5px;
  line-height: 0;
}

.angle-left a {
  text-decoration: underline;
}
.angle-left a::before {
  content: url("../img/angle-left.svg");
  display: inline-block;
  width: 9px;
  margin-right: 5px;
  line-height: 0;
}

/* Solution blocks */
.solution-block {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
@media (max-width: 781px) {
  .solution-block .wp-block-column:not(:only-child) {
    flex-basis: 100% !important;
  }
  .solution-block .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
}
@media (max-width: 781px) {
  .solution-block .wp-block-columns.invert-order .wp-block-column:first-child {
    order: 3;
  }
  .solution-block .hide-mobile {
    display: none;
  }
  .solution-block .wp-block-column h2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .solution-block .wp-block-column h2:before {
    width: 60px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .solution-block .wp-block-column h2.mb-0 {
    margin-bottom: 0.2em !important;
  }
}
@media (min-width: 782px) {
  .solution-block .hide-desktop {
    display: none;
  }
}
@media (max-width: 781px) {
  .solution-block.sentinelle .wp-block-column h2:before {
    content: url("../img/picto-heading-sentinelle.svg");
  }
}
@media (max-width: 781px) {
  .solution-block.focus .wp-block-column h2:before {
    content: url("../img/picto-heading-focus.svg");
  }
}
@media (max-width: 781px) {
  .solution-block.sos-juridique .wp-block-column h2:before {
    content: url("../img/picto-heading-sos-juridique.svg");
  }
}

.wp-block-columns .wp-block-group.infos-solution {
  margin-bottom: 1.6em;
  padding: 0;
  color: #ed7f47;
  text-align: center;
}
.wp-block-columns .wp-block-group.infos-solution p {
  margin: 0;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 1px dashed #42a1c2;
}
.wp-block-columns .wp-block-group.infos-solution .info {
  font-family: "Source Serif Pro", serif;
  font-size: 22px;
  text-transform: uppercase;
}

/* Buttons */
.wp-block-buttons .wp-block-button.gradient a {
  padding-right: 20px;
  padding-left: 20px;
  background: transparent linear-gradient(261deg, #eda047 0%, #ed7f47 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000004d;
  color: #ffffff;
  text-transform: uppercase;
}
.wp-block-buttons .wp-block-button.gradient a:focus {
  text-decoration: none;
}

.wp-block-buttons .wp-block-button.ghost a {
  padding-right: 20px;
  padding-left: 20px;
  background: none;
  font-size: inherit !important;
}

.wp-block-buttons .wp-block-button.back-button a {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #f8f3ed;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #a8a5a0;
}
.wp-block-buttons .wp-block-button.back-button a::before {
  content: url("../img/back-button-angle.svg");
  margin-right: 5px;
  line-height: 0;
}
.wp-block-buttons .wp-block-button.back-button a:focus {
  text-decoration: none;
}

/* Stats */
@media (min-width: 922px) {
  .stats.w-85 {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .stats.w-85 {
    width: 85% !important;
  }
}

.stat {
  color: #42a1c2;
  font-family: "Source Serif Pro", serif;
  font-size: 22px;
  text-transform: uppercase;
}
@media (max-width: 921px) {
  .stat {
    font-size: 20.064px;
  }
}
.stat p {
  margin: 0;
}
.stat p:not(.data) {
  margin-bottom: 2em;
}
.stat .wp-block-image {
  padding: 0 1em;
}
.stat .data {
  color: #ed7f47;
  font-size: 60px;
}
@media (max-width: 921px) {
  .stat .data {
    font-size: 54.72px;
  }
}

/* Fullwidth block */
.wp-block-group.fullwidth-lg {
  padding: 0;
}
.wp-block-group.fullwidth-lg figure {
  position: relative;
  margin: 0;
}
.wp-block-group.fullwidth-lg figure:before {
  content: url("../img/picto-video-play.svg");
  width: 10vw;
  max-width: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wp-block-group.fullwidth-lg figcaption {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  padding: 0.375em 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: "Source Serif Pro", serif;
  font-size: 27px;
  text-align: center;
}
.wp-block-group.fullwidth-lg figcaption span {
  padding-left: 10px;
  border-left: 1px solid #ffffff;
}

.home-video figure > img {
  object-fit: cover;
  object-position: left;
  height: 250px;
}
@media (min-width: 922px) {
  .home-video figure > img {
    height: 500px;
  }
}
@media (max-width: 921px) {
  .home-video figcaption {
    font-size: inherit !important;
  }
  .home-video figcaption span {
    padding: 0 !important;
    border: none !important;
  }
  .home-video figcaption img:first-child {
    width: 36px;
  }
  .home-video figcaption img + img {
    display: none;
  }
}

/* Hero */
.hero {
  position: absolute;
  width: 100vw;
  height: 500px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
@media (max-width: 921px) {
  .hero {
    height: 250px;
  }
}

.entry-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;
  padding-top: 185px;
}
@media (min-width: 922px) {
  .entry-header {
    padding-top: 420px;
  }
}

@media (min-width: 600px) {
  .entry-title-container {
    width: 780px;
  }
}

.entry-title {
  margin: 0 !important;
  padding: 0.75em 1em 0 1em;
  background-color: #fffbf5;
  color: #ed7f47;
  font-family: "Source Serif Pro", serif;
  font-size: 43px !important;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 921px) {
  .entry-title {
    font-size: 34px !important;
  }
}

/* Lead */
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding: 1.2em;
  padding-bottom: 0;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 921px) {
  .lead {
    font-size: 22px;
  }
}
.lead p {
  padding-bottom: 1.2em;
}
.lead.lead-spacer p {
  position: relative;
  border-bottom: 1px solid #ed7f47;
}
.lead.lead-spacer p:after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%) rotate(45deg);
  background-color: #fffbf5;
  border-right: 1px solid #ed7f47;
  border-bottom: 1px solid #ed7f47;
}

/* Widget search */
.widget_search .search-field {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ece8e3 !important;
  border: none;
  color: inherit !important;
}

/* Custom comumns */
.wp-block-columns.cols-3 {
  flex-wrap: wrap;
  justify-content: center;
}
.wp-block-columns.cols-3 .wp-block-column {
  margin-right: 1.2em !important;
  margin-bottom: 1.2em !important;
  margin-left: 1.2em !important;
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns.cols-3 .wp-block-column {
    flex-basis: 42% !important;
    max-width: 42%;
  }
}
@media (min-width: 782px) {
  .wp-block-columns.cols-3 .wp-block-column {
    flex-basis: 44% !important;
    max-width: 44%;
  }
}
@media (min-width: 922px) {
  .wp-block-columns.cols-3 .wp-block-column {
    flex-basis: 28% !important;
    max-width: 28%;
  }
}
.wp-block-columns.cols-4 {
  flex-wrap: wrap;
  justify-content: center;
}
.wp-block-columns.cols-4 .wp-block-column {
  margin-right: 1.2em !important;
  margin-bottom: 1.2em !important;
  margin-left: 1.2em !important;
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns.cols-4 .wp-block-column {
    flex-basis: 42% !important;
    max-width: 42%;
  }
}
@media (min-width: 782px) {
  .wp-block-columns.cols-4 .wp-block-column {
    flex-basis: 44% !important;
    max-width: 44%;
  }
}
@media (min-width: 922px) {
  .wp-block-columns.cols-4 .wp-block-column {
    flex-basis: 19% !important;
    max-width: 19%;
  }
}
.wp-block-columns.partners h2 {
  text-transform: uppercase;
}

/* Headings */
.picto-heading {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.picto-heading:before {
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.picto-heading.sentinelle:before {
  content: url("../img/picto-heading-sentinelle.svg");
}
.picto-heading.focus:before {
  content: url("../img/picto-heading-focus.svg");
}
.picto-heading.sos-juridique:before {
  content: url("../img/picto-heading-sos-juridique.svg");
}
.picto-heading.picto-star {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-star {
    margin-left: -45px;
  }
}
.picto-heading.picto-star:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-star.svg");
}
.picto-heading.picto-share {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-share {
    margin-left: -45px;
  }
}
.picto-heading.picto-share:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-share.svg");
}
.picto-heading.picto-cursor {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-cursor {
    margin-left: -45px;
  }
}
.picto-heading.picto-cursor:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-cursor.svg");
}
.picto-heading.picto-archive {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-archive {
    margin-left: -70px;
  }
}
.picto-heading.picto-archive:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-archive.svg");
}
.picto-heading.picto-award {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-award {
    margin-left: -45px;
  }
}
.picto-heading.picto-award:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-award.svg");
}
.picto-heading.picto-gears {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-gears {
    margin-left: -45px;
  }
}
.picto-heading.picto-gears:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-gears.svg");
}
.picto-heading.picto-diapason {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-diapason {
    margin-left: -52px;
  }
}
.picto-heading.picto-diapason:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-diapason.svg");
}
.picto-heading.picto-time {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-time {
    margin-left: -52px;
  }
}
.picto-heading.picto-time:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-time.svg");
}
.picto-heading.picto-team {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-team {
    margin-left: -52px;
  }
}
.picto-heading.picto-team:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-team.svg");
}
.picto-heading.picto-bulb {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-bulb {
    margin-left: -52px;
  }
}
.picto-heading.picto-bulb:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-bulb.svg");
}
.picto-heading.picto-puzzle {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-puzzle {
    margin-left: -52px;
  }
}
.picto-heading.picto-puzzle:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-puzzle.svg");
}
.picto-heading.picto-hammer {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-hammer {
    margin-left: -52px;
  }
}
.picto-heading.picto-hammer:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-hammer.svg");
}
.picto-heading.picto-audit {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-audit {
    margin-left: -46px;
  }
}
.picto-heading.picto-audit:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-audit.svg");
}
.picto-heading.picto-network {
  align-items: flex-start;
}
@media (min-width: 922px) {
  .picto-heading.picto-network {
    margin-left: -50px;
  }
}
.picto-heading.picto-network:before {
  width: auto;
  margin-top: 8px;
  content: url("../img/picto-network.svg");
}

.post-5995 .entry-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.post-5995 .entry-title::before {
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  content: url("../img/picto-heading-sentinelle.svg");
}

.post-6013 .entry-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.post-6013 .entry-title::before {
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  content: url("../img/picto-heading-focus.svg");
}

.post-6015 .entry-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.post-6015 .entry-title::before {
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  content: url("../img/picto-heading-sos-juridique.svg");
}

.post-6024 .entry-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.post-6024 .entry-title::before {
  width: 40px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  content: url("../img/picto-heading-audit-juridique.svg");
}

.topic-list .picto-heading {
  justify-content: center;
}

/* Expert block */
@media (max-width: 781px) {
  .wp-block-columns.team .wp-block-column,
.wp-block-group.team .wp-block-column {
    flex-basis: auto !important;
    margin-bottom: 2.5em !important;
  }
}
.wp-block-columns.team .wp-block-media-text__media,
.wp-block-group.team .wp-block-media-text__media {
  max-width: 150px;
}
@media (max-width: 599px) {
  .wp-block-columns.team .wp-block-media-text__media img,
.wp-block-group.team .wp-block-media-text__media img {
    margin-bottom: 1em;
  }
}
.wp-block-columns.team .wp-block-media-text .wp-block-media-text__content,
.wp-block-group.team .wp-block-media-text .wp-block-media-text__content {
  padding: 0 !important;
}
@media (min-width: 600px) {
  .wp-block-columns.team .wp-block-media-text .wp-block-media-text__content,
.wp-block-group.team .wp-block-media-text .wp-block-media-text__content {
    padding: 0 0 0 5% !important;
  }
}

/* Image with fading effect */
.img-fading {
  position: relative;
  margin-top: 60px;
  margin-bottom: 0;
}
.img-fading img {
  height: 190px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 600px) {
  .img-fading::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 100%;
    background: linear-gradient(to right, #fffbf5 0%, rgba(255, 251, 245, 0.9) 10%, rgba(255, 251, 245, 0) 100%);
  }
  .img-fading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
    background: linear-gradient(to left, #fffbf5 0%, rgba(255, 251, 245, 0.9) 10%, rgba(255, 251, 245, 0) 100%);
  }
}

/* Insert */
.insert {
  padding-right: 1em;
  padding-left: 1em;
  background-color: #ffffff;
  border: 1px solid #ece8e3;
}
@media (max-width: 921px) {
  .insert.form .wp-block-columns {
    flex-wrap: wrap;
  }
  .insert.form .wp-block-column {
    flex-basis: 100% !important;
  }
  .insert.form .wp-block-column.stat {
    margin: 0;
    order: -1;
  }
}

/* Tags */
.tag-list {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px dashed #42a1c2;
  border-width: 1px 0;
  color: #42a1c2;
  font-size: 16px;
}
.tag-list a {
  text-decoration: none;
}
.tag-list a:hover {
  color: #42a1c2;
}
.tag-list + .tag-list {
  border-top: none;
  color: inherit;
}

/* Archive */
.blog-item-title a {
  color: #535353;
  text-decoration: none;
}
.blog-item-title a:focus {
  text-decoration: none;
}

.blog-item-date {
  font-size: 16px;
}

.archive .tb-heading a,
.publication-view .tb-heading a {
  color: #535353;
}
.archive .tag-list,
.publication-view .tag-list {
  margin-bottom: 1em;
  color: #535353;
}

.blog-item-excerpt p {
  margin-bottom: 0.5em;
}

.for-subscribers {
  margin-top: 1em;
  padding: 20px 30px;
  font-size: 16px;
}
.for-subscribers .alert {
  margin: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-weight: bold;
}
.for-subscribers .links {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-subscribers .links a {
  margin: 0 1em;
  color: #535353;
}
.for-subscribers .links .btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #ed7f47;
  color: #ffffff;
  text-decoration: none;
}
.for-subscribers.sentinelle .alert::before {
  display: flex;
  align-items: center;
  margin-right: 5px;
  content: url("../img/picto-sentinelle-grey.svg");
}
.for-subscribers.focus .alert::before {
  display: flex;
  align-items: center;
  margin-right: 5px;
  content: url("../img/picto-focus-grey.svg");
}

.excerpt-allow > p {
  margin-bottom: 0.5em;
}

.post-type-archive .ast-archive-description,
.post-type-archive .wpv-pagination-nav-links + .wp-block-spacer,
.post-type-archive .wpv-pagination-nav-links + .wp-block-spacer + .wp-block-buttons.aligncenter {
  display: none;
}

.search-results .search-result {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed #42a1c2;
}
.search-results .search-result .for-subscribers {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}
.search-results .search-result .for-subscribers.sentinelle .alert::before {
  display: flex;
  align-items: center;
  margin-right: 5px;
  content: url("../img/picto-sentinelle-grey-small.svg");
  width: 25px;
}
.search-results .search-result .for-subscribers.focus .alert::before {
  display: flex;
  align-items: center;
  margin-right: 5px;
  content: url("../img/picto-focus-grey-small.svg");
  width: 25px;
}

/* Term lists */
.topic-item-list {
  margin-left: 0 !important;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.topic-item-list .topic-item {
  margin-bottom: 20px;
  font-size: 22px;
}
.topic-item-list .topic-item h3 {
  font-size: 22px;
}
.topic-item-list .topic-item h3 .count {
  display: inline-block;
  margin: 10px;
  padding: 1px 10px;
  line-height: 1;
  background-color: #e3dacf;
  border-radius: 20px;
  color: #9a9a9a;
}
.topic-item-list .topic-item.entree-en-vigueur {
  order: -4;
}
.topic-item-list .topic-item.entree-en-vigueur a {
  color: #ed7f47;
}
.topic-item-list .topic-item.integrales {
  order: -3;
}
.topic-item-list .topic-item.integrales a {
  color: #ed7f47;
}
.topic-item-list .topic-item.les-incontournables {
  order: -2;
}
.topic-item-list .topic-item.les-incontournables a {
  color: #ed7f47;
}
.topic-item-list .topic-item.speciale {
  order: -1;
}
.topic-item-list .topic-item.speciale a {
  color: #ed7f47;
}
.topic-item-list.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.topic-item-list.flex-list .topic-item {
  margin-right: 20px;
  margin-bottom: 0;
}

.ast-archive-description {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #42a1c2;
}
.ast-archive-description h1 {
  margin: 0 !important;
  color: inherit;
  font-size: 43px;
  font-weight: 400 !important;
}

.breadcrumb-trail {
  font-size: 22px !important;
  font-weight: 400 !important;
}
.breadcrumb-trail .angle-left {
  display: inline-block;
}
.breadcrumb-trail .angle-left a {
  margin-right: 10px;
  text-decoration: none;
}
.breadcrumb-trail .angle-left a::before {
  width: 7px;
}

.sub-topic {
  color: #9a9a9a;
  font-size: 22px;
}

.wpv-block-loop-item h2 {
  font-size: 27px;
}

/* Protected content alert */
.for-subscribers-top-block {
  color: #3f2794;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
}
.for-subscribers-top-block p {
  margin: 0;
}
.for-subscribers-top-block .btn {
  margin: 0 10px;
  padding: 5px 20px;
  border: 1px solid #3f2794;
  color: #3f2794;
  font-family: "Source Sans Pro", sans-serif;
}

.for-subscribers-bottom-block {
  display: flex;
  justify-content: center;
  text-align: center;
}
.for-subscribers-bottom-block > div {
  padding: 1em 3em;
  background-color: #3f2794;
  border-radius: 7px;
  color: #ffffff;
}
.for-subscribers-bottom-block > div p {
  margin-bottom: 0.75em;
}
.for-subscribers-bottom-block > div h3 {
  margin-bottom: 0.75em !important;
  line-height: 1.2;
  color: #ffffff;
  font-family: "Source Serif Pro", serif;
  font-size: 27px;
  font-weight: 700;
}
.for-subscribers-bottom-block > div .btn {
  padding: 6px 12px;
  background-color: #ffffff;
  color: #3f2794;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.for-subscribers-bottom-block > div .connect-link {
  color: #ffffff;
}
.for-subscribers-bottom-block > div .connect-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.publication-search-form {
  padding: 1.5em 2em;
  background-color: #ece8e3;
}
.publication-search-form .wpv-custom-search-filter__label {
  text-transform: uppercase;
}
.publication-search-form input[type*=text] {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: inline;
  padding: 10px;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #666;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: normal;
  transition: all 0.2s linear;
}
.publication-search-form .checkbox {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 0.2em;
}
.publication-search-form .checkbox input {
  margin-right: 0.25em;
}
.publication-search-form .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 !important;
}
.publication-search-form .wpv-custom-search-filter-submit input {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  line-height: 1;
  background-color: #ed7f47;
  border-color: #ed7f47;
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-radius: 2px;
  color: #ffffff;
  font-family: inherit;
  font-weight: inherit;
}
.publication-search-form .date-filter .form-group {
  align-items: center;
}
.publication-search-form .date-filter label {
  flex: unset;
  text-transform: none;
}
.publication-search-form .date-filter .ui-datepicker-trigger {
  width: 25px;
  margin: 3px;
}
.publication-search-form .date-filter .wpv_date_input {
  display: inline-block;
  min-width: 120px;
  margin-left: 10px;
  border-bottom: 1px dashed #c1c1c1;
  text-align: center;
}

.ui-datepicker .ui-widget-header {
  background: #535353 !important;
  border-color: #535353 !important;
}

.ui-datepicker .ui-state-default,
.ui-datepicker.ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {
  color: #535353 !important;
}

body {
  line-height: 1.5;
  background-color: #fffbf5;
  color: #535353;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em !important;
  line-height: 1.2;
}

.h3 {
  font-size: 34px !important;
}

.h4 {
  font-size: 27px !important;
}

.h5 {
  font-size: 20px !important;
}

a,
a:focus {
  text-decoration: none;
}

.sample-link {
  margin: 0.5em !important;
}
.sample-link a {
  color: #ed7f47;
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
  text-transform: none;
  text-decoration: none;
}

input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=reset],
input[type=tel],
select,
textarea {
  background-color: #ffffff;
}

.gform_wrapper legend.gfield_label,
.gform_wrapper label.gfield_label {
  font-weight: 400;
}

.menu-toggle,
button,
.ast-button,
.ast-custom-button,
.button,
input#submit,
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #ed7f47;
  border-color: #ed7f47;
}

/* Gravity Forms */
.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label {
  font-size: inherit;
}

.gform_wrapper ul li.gfield {
  margin-top: 40px !important;
}

#field_7_1 {
  margin-top: 0 !important;
}

.site-header {
  padding-bottom: 0.5em;
}
.site-header .ast-container {
  padding: 0 !important;
}
.site-header .site-branding {
  padding: 0;
}

.site-branding-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
@media (max-width: 921px) {
  .site-branding-wrapper {
    display: none !important;
  }
}
.site-branding-wrapper .ast-site-identity {
  padding: 0;
}
@media (max-width: 972px) {
  .site-branding-wrapper .ast-site-identity .custom-logo-link img {
    max-height: 50px;
    width: auto;
  }
}

.navbar-utilities {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-utilities aside {
  margin: 0;
  margin-left: 20px;
}
.navbar-utilities .btn {
  padding: 7px 16px 7px 16px;
  position: relative;
  top: -3px;
  background-color: #42a1c2;
  color: #ffffff;
  text-decoration: none;
}

.main-header-bar {
  background-color: transparent;
  border: none;
}

@media (min-width: 922px) {
  #mega-menu-wrap-primary #mega-menu-primary {
    display: flex;
    justify-content: space-between;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    flex: 1 0 auto;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-noborder {
    border: none;
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-indicator::after {
    color: #42a1c2 !important;
  }
}
#mega-menu-wrap-primary .mega-menu-item.widget-area .mega-menu-link {
  display: none !important;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-2 .mega-toggle-animated {
  flex-direction: column;
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-2 .mega-toggle-animated::before {
  content: "MENU";
  line-height: 1.5;
}

@media (min-width: 922px) {
  .mega-sub-menu {
    margin-top: 10px !important;
  }
}
@media (max-width: 921px) {
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.first-level {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px dotted rgba(255, 255, 255, 0.5);
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.first-level > .mega-menu-link {
    padding: 0;
    text-transform: uppercase;
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.first-level.mega-dimmed > .mega-menu-link {
    color: rgba(255, 255, 255, 0.5);
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.first-level.mega-home {
    border: none;
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.mega-widget-area .mega-sub-menu {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.mega-widget-area .mega-sub-menu .mega-menu-item {
    padding: 0;
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.mega-widget-area .mega-sub-menu [class*=mega-menu-item-custom_html] {
    text-align: center;
  }
  #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item.mega-widget-area .mega-sub-menu [class*=mega-menu-item-custom_html] .btn {
    display: inline-block;
    margin-bottom: 1em;
    padding: 6px 12px;
    background-color: #ed7f47;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  .mega-sub-menu {
    padding-top: 5px !important;
    padding-bottom: 25px !important;
  }
}
.footer-adv-layout-4 .footer-adv-overlay {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #42a1c2;
  color: #ffffff;
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .footer-adv-layout-4 .footer-adv-overlay .ast-row {
    flex-direction: row;
  }
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-1 .widget_nav_menu,
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-1 .menu-menu-footer-container,
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-1 .menu {
  height: 100%;
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-1 .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 601px) {
  .footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-1 .menu-item {
    margin: 1em 0;
  }
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-1 .menu-link {
  text-decoration: none;
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-2 .widget_custom_html,
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-2 .custom-html-widget,
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-2 nav,
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-2 .menu {
  height: 100%;
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-2 .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-adv-layout-4 .footer-adv-overlay .ast-row .footer-adv-widget-2 .menu .menu-item {
  margin: 0.5em 0;
}
.footer-adv-layout-4 .wp-block-button__link {
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
}
@media (max-width: 921px) {
  .footer-adv-layout-4 .wp-block-button__link {
    font-size: 18px;
  }
}
.footer-adv-layout-4 address {
  margin-bottom: 0.5em;
}

.footer-sml-layout-2 .ast-footer-overlay {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #3f2794;
  color: #ffffff;
  font-size: 80%;
}

#post-5427 .hero,
#post-6132 .hero,
.type-publication .hero,
.post-type-archive-publication .hero,
#post-6329 .hero,
#post-6330 .hero,
.search-results .hero,
#post-11050 .hero,
#post-12166 .hero,
#post-11101 .hero,
#post-17594 .hero,
.tax-rubriques .hero,
#post-12229 .hero,
#post-6328 .hero {
  background-image: url("../img/hero/ambiance-accueil-small.jpg");
}
@media (min-width: 600px) {
  #post-5427 .hero,
#post-6132 .hero,
.type-publication .hero,
.post-type-archive-publication .hero,
#post-6329 .hero,
#post-6330 .hero,
.search-results .hero,
#post-11050 .hero,
#post-12166 .hero,
#post-11101 .hero,
#post-17594 .hero,
.tax-rubriques .hero,
#post-12229 .hero,
#post-6328 .hero {
    background-image: url("../img/hero/ambiance-accueil.jpg");
  }
}

#post-5703 .hero {
  background-image: url("../img/hero/droit-medecine-small.jpg");
}
@media (min-width: 600px) {
  #post-5703 .hero {
    background-image: url("../img/hero/droit-medecine.jpg");
  }
}

#post-5741 .hero {
  background-image: url("../img/hero/ambiance-metiers-small.jpg");
}
@media (min-width: 600px) {
  #post-5741 .hero {
    background-image: url("../img/hero/ambiance-metiers.jpg");
  }
}

#post-5777 .hero,
#post-5805 .hero,
#post-5826 .hero,
#post-5828 .hero,
#post-5830 .hero {
  background-image: url("../img/hero/ambiance-experts-small.jpg");
}
@media (min-width: 600px) {
  #post-5777 .hero,
#post-5805 .hero,
#post-5826 .hero,
#post-5828 .hero,
#post-5830 .hero {
    background-image: url("../img/hero/ambiance-experts.jpg");
  }
}

#post-5837 .hero {
  background-image: url("../img/hero/ambiance-engagements-small.jpg");
}
@media (min-width: 600px) {
  #post-5837 .hero {
    background-image: url("../img/hero/ambiance-engagements.jpg");
  }
}

#post-5852 .hero {
  background-image: url("../img/hero/ambiance-partenaires-small.jpg");
}
@media (min-width: 600px) {
  #post-5852 .hero {
    background-image: url("../img/hero/ambiance-partenaires.jpg");
  }
}

#post-5877 .hero {
  background-image: url("../img/hero/ambiance-recrutement-small.jpg");
}
@media (min-width: 600px) {
  #post-5877 .hero {
    background-image: url("../img/hero/ambiance-recrutement.jpg");
  }
}

#post-5886 .hero {
  background-image: url("../img/hero/ambiance-expertises-small.jpg");
}
@media (min-width: 600px) {
  #post-5886 .hero {
    background-image: url("../img/hero/ambiance-expertises.jpg");
  }
}

#post-5906 .hero {
  background-image: url("../img/hero/ressources-humaines-small.jpg");
}
@media (min-width: 600px) {
  #post-5906 .hero {
    background-image: url("../img/hero/ressources-humaines.jpg");
  }
}

#post-5926 .hero {
  background-image: url("../img/hero/ethique-small.jpg");
}
@media (min-width: 600px) {
  #post-5926 .hero {
    background-image: url("../img/hero/ethique.jpg");
  }
}

#post-5932 .hero {
  background-image: url("../img/hero/affaires-medicales-small.jpg");
}
@media (min-width: 600px) {
  #post-5932 .hero {
    background-image: url("../img/hero/affaires-medicales.jpg");
  }
}

#post-5935 .hero {
  background-image: url("../img/hero/droit-hospitalier-small.jpg");
}
@media (min-width: 600px) {
  #post-5935 .hero {
    background-image: url("../img/hero/droit-hospitalier.jpg");
  }
}

#post-5937 .hero {
  background-image: url("../img/hero/finances-budget-small.jpg");
}
@media (min-width: 600px) {
  #post-5937 .hero {
    background-image: url("../img/hero/finances-budget.jpg");
  }
}

#post-5939 .hero {
  background-image: url("../img/hero/achats-small.jpg");
}
@media (min-width: 600px) {
  #post-5939 .hero {
    background-image: url("../img/hero/achats.jpg");
  }
}

#post-5948 .hero {
  background-image: url("../img/hero/acteurs2-small.jpg");
}
@media (min-width: 600px) {
  #post-5948 .hero {
    background-image: url("../img/hero/acteurs2.jpg");
  }
}

#post-5951 .hero {
  background-image: url("../img/hero/etablissements-de-sante-small.jpg");
}
@media (min-width: 600px) {
  #post-5951 .hero {
    background-image: url("../img/hero/etablissements-de-sante.jpg");
  }
}

#post-5955 .hero {
  background-image: url("../img/hero/etablissements-medico-sociaux-small.jpg");
}
@media (min-width: 600px) {
  #post-5955 .hero {
    background-image: url("../img/hero/etablissements-medico-sociaux.jpg");
  }
}

#post-5957 .hero {
  background-image: url("../img/hero/groupements-small.jpg");
}
@media (min-width: 600px) {
  #post-5957 .hero {
    background-image: url("../img/hero/groupements.jpg");
  }
}

#post-5959 .hero {
  background-image: url("../img/hero/institutions-small.jpg");
}
@media (min-width: 600px) {
  #post-5959 .hero {
    background-image: url("../img/hero/institutions.jpg");
  }
}

#post-5976 .hero,
#post-17694 .hero {
  background-image: url("../img/hero/solutions2-small.jpg");
}
@media (min-width: 600px) {
  #post-5976 .hero,
#post-17694 .hero {
    background-image: url("../img/hero/solutions2.jpg");
  }
}

#post-5995 .hero,
#post-10972 .hero,
#post-12314 .hero,
.tax-collection-publication.term-sentinelle .hero {
  background-image: url("../img/hero/sentinelle-small.jpg");
}
@media (min-width: 600px) {
  #post-5995 .hero,
#post-10972 .hero,
#post-12314 .hero,
.tax-collection-publication.term-sentinelle .hero {
    background-image: url("../img/hero/sentinelle.jpg");
  }
}

#post-6013 .hero,
#post-17650 .hero,
#post-12315 .hero,
.tax-collection-publication.term-focus .hero {
  background-image: url("../img/hero/focus-small.jpg");
}
@media (min-width: 600px) {
  #post-6013 .hero,
#post-17650 .hero,
#post-12315 .hero,
.tax-collection-publication.term-focus .hero {
    background-image: url("../img/hero/focus.jpg");
  }
}

#post-6015 .hero {
  background-image: url("../img/hero/sos-juridique-small.jpg");
}
@media (min-width: 600px) {
  #post-6015 .hero {
    background-image: url("../img/hero/sos-juridique.jpg");
  }
}

#post-6024 .hero {
  background-image: url("../img/hero/audi-juridique-small.jpg");
}
@media (min-width: 600px) {
  #post-6024 .hero {
    background-image: url("../img/hero/audit-juridique.jpg");
  }
}

#post-5961 .hero {
  background-image: url("../img/hero/entreprises-small.jpg");
}
@media (min-width: 600px) {
  #post-5961 .hero {
    background-image: url("../img/hero/entreprises.jpg");
  }
}

#post-17718 .hero {
  background-image: url("../img/hero/orchestre-small.jpg");
}
@media (min-width: 600px) {
  #post-17718 .hero {
    background-image: url("../img/hero/orchestre.jpg");
  }
}

/* Registration form */
.mp-form-row.mepr_bold.mepr_price {
  display: none;
}

.mp-form-row {
  margin-bottom: 20px !important;
}

@media (min-width: 922px) {
  .memberpressproduct .entry-content {
    width: 65% !important;
    margin: 60px auto 0 auto !important;
  }
}

.mepr-unauthorized-message + .mepr-login-form-wrap {
  display: none;
}

.memberpressproduct-template-default .mepr-signup-form .username-instruction {
  display: none;
}

/* Member dashboard */
#mepr-account-subscriptions-table thead > tr > th:nth-child(5), #mepr-account-subscriptions-table thead > tr > th:nth-child(6) {
  display: none;
}
#mepr-account-subscriptions-table td[data-label*="Expiration de la carte"],
#mepr-account-subscriptions-table td[data-label*=Actions] {
  display: none;
}
#mepr-account-subscriptions-table .mepr-account-auto-rebill,
#mepr-account-subscriptions-table .mepr-account-rebill {
  display: none;
}

#mpca_sub_accounts_used {
  display: none;
}

#mpca-add-sub-user {
  margin-top: 20px;
}

#mpca-add-sub-user-form input {
  margin-bottom: 20px;
}
#mpca-add-sub-user-form label > span {
  display: inline-block;
  margin-bottom: 20px;
}

#mpca_export_sub_accounts {
  display: none;
}

#mpca_signup_url {
  margin-top: 50px;
}

#mpca_import_sub_accounts {
  display: none;
}
/*# sourceMappingURL=main.css.map */