/* Solution blocks */
.solution-block {
  margin-right: 0 !important;
  margin-left: 0 !important;
  // padding-top: 3em;
  // padding-bottom: 3em;

  @media (max-width: 781px) {
    .wp-block-column:not(:only-child) {
      flex-basis: 100% !important;
    }

    .wp-block-column:nth-child(2n) {
      margin-left: 0;
    }
  }

  @media (max-width: 781px) {
    .wp-block-columns {
      &.invert-order {
        .wp-block-column:first-child {
          order: 3;
        }
      }
    }

    .hide-mobile {
      display: none;
    }

    .wp-block-column {
      h2 {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        &:before {
          width: 60px;
          display: flex;
          align-items: center;
          margin-right: 10px;
        }

        &.mb-0 {
          margin-bottom: 0.2em !important;
        }
      }
    }
  }

  @media (min-width: 782px) {
    .hide-desktop {
      display: none;
    }
  }

  &.sentinelle {
    @media (max-width: 781px) {
      .wp-block-column {
        h2 {
          &:before {
            content: url("../img/picto-heading-sentinelle.svg");
          }
        }
      }
    }
  }

  &.focus {
    @media (max-width: 781px) {
      .wp-block-column {
        h2 {
          &:before {
            content: url("../img/picto-heading-focus.svg");
          }
        }
      }
    }
  }

  &.sos-juridique {
    @media (max-width: 781px) {
      .wp-block-column {
        h2 {
          &:before {
            content: url("../img/picto-heading-sos-juridique.svg");
          }
        }
      }
    }
  }
}

.wp-block-columns .wp-block-group {
  &.infos-solution {
    margin-bottom: 1.6em;
    padding: 0;
    color: $brand-orange;
    text-align: center;

    p {
      margin: 0;
      padding-top: 0.5rem;
      margin-top: 0.5rem;
      border-top: 1px dashed $brand-blue;
    }

    .info {
      font-family: $font-family-serif;
      font-size: $lead-font-size;
      text-transform: uppercase;
    }
  }
}

/* Buttons */
.wp-block-buttons .wp-block-button {
  &.gradient {
    a {
      padding-right: 20px;
      padding-left: 20px;
      background: transparent linear-gradient(261deg, #eda047 0%, #ed7f47 100%)
        0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #0000004d;
      color: $white;
      // font-size: $h4-font-size;
      text-transform: uppercase;
    }
  }
}

.wp-block-buttons .wp-block-button {
  &.ghost {
    a {
      padding-right: 20px;
      padding-left: 20px;
      background: none;
      font-size: inherit !important;
    }
  }
}

.wp-block-buttons .wp-block-button {
  &.back-button {
    a {
      display: flex;
      align-items: center;
      padding: 12px 24px;
      background-color: #f8f3ed;
      border-radius: 7px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      color: #a8a5a0;

      &::before {
        content: url("../img/back-button-angle.svg");
        margin-right: 5px;
        line-height: 0;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}

/* Stats */
.stats {
  &.w-85 {
    @media (min-width: 922px) {
      width: 100% !important;
    }

    @media (min-width: 1200px) {
      width: 85% !important;
    }
  }
}

.stat {
  color: $brand-blue;
  font-family: $font-family-serif;
  font-size: $lead-font-size;
  @media (max-width: 921px) {
    font-size: $lead-font-size * 0.912;
  }
  // line-height: $line-height-headings;
  text-transform: uppercase;

  p {
    margin: 0;

    &:not(.data) {
      margin-bottom: 2em;
    }
  }

  .wp-block-image {
    padding: 0 1em;
  }

  .data {
    color: $brand-orange;
    font-size: 60px;
    @media (max-width: 921px) {
      font-size: 54.72px;
    }
  }
}

/* Fullwidth block */
.wp-block-group {
  &.fullwidth-lg {
    padding: 0;

    figure {
      position: relative;
      margin: 0;

      &:before {
        content: url("../img/picto-video-play.svg");
        width: 10vw;
        max-width: 100px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    figcaption {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 0;
      left: 0;
      padding: 0.375em 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      font-family: $font-family-serif;
      font-size: $h4-font-size;
      text-align: center;

      span {
        padding-left: 10px;
        border-left: 1px solid $white;
      }
    }
  }
}

.home-video {
  figure {
    > img {
      object-fit: cover;
      object-position: left;
      height: 250px;

      @media (min-width: 922px) {
        height: 500px;
      }
    }
  }

  @media (max-width: 921px) {
    figcaption {
      font-size: inherit !important;

      span {
        padding: 0 !important;
        border: none !important;
      }

      img {
        &:first-child {
          width: 36px;
        }

        & + img {
          display: none;
        }
      }
    }
  }
}

/* Hero */
.hero {
  position: absolute;
  width: 100vw;
  height: 500px;
  @media (max-width: 921px) {
    height: 250px;
  }
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.entry-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;
  padding-top: 185px;
  @media (min-width: 922px) {
    padding-top: 420px;
  }
}

.entry-title-container {
  // width: 90%;
  // min-height: 100px;
  @media (min-width: 600px) {
    width: 780px;
  }
}

.entry-title {
  margin: 0 !important;
  padding: 0.75em 1em 0 1em;
  background-color: $light-beige;
  color: $brand-orange;
  font-family: $font-family-serif;
  font-size: $h1-font-size !important;
  @media (max-width: 921px) {
    font-size: 34px !important;
  }
  text-align: center;
  text-transform: uppercase;
}

/* Lead */
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding: 1.2em;
  padding-bottom: 0;
  font-size: $h3-font-size;
  @media (max-width: 921px) {
    font-size: 22px;
  }

  font-weight: $font-weight-light;
  text-align: center;

  p {
    padding-bottom: 1.2em;
  }

  &.lead-spacer {
    p {
      position: relative;
      border-bottom: 1px solid $brand-orange;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        left: 50%;
        bottom: -11px;
        transform: translateX(-50%) rotate(45deg);
        background-color: $light-beige;
        border-right: 1px solid $brand-orange;
        border-bottom: 1px solid $brand-orange;
      }
    }
  }
}

/* Widget search */
.widget_search {
  .search-field {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ece8e3 !important;
    border: none;
    color: inherit !important;
  }
}

/* Custom comumns */
.wp-block-columns {
  &.cols-3 {
    flex-wrap: wrap;
    justify-content: center;

    .wp-block-column {
      margin-right: 1.2em !important;
      margin-bottom: 1.2em !important;
      margin-left: 1.2em !important;
      @media (min-width: 600px) and (max-width: 781px) {
        flex-basis: 42% !important;
        max-width: 42%;
      }
      @media (min-width: 782px) {
        flex-basis: 44% !important;
        max-width: 44%;
      }
      @media (min-width: 922px) {
        flex-basis: 28% !important;
        max-width: 28%;
      }
    }

    // &.add-col {
    //   &::after {
    //     content: "";
    //     display: block;
    //     margin-right: 1.2em !important;
    //     margin-left: 1.2em !important;
    //     @media (min-width: 600px) and (max-width: 781px) {
    //       flex-basis: 42% !important;
    //     }
    //     @media (min-width: 782px) {
    //       flex-basis: 44% !important;
    //     }
    //     @media (min-width: 922px) {
    //       flex-basis: 29% !important;
    //     }
    //   }
    // }
  }

  &.cols-4 {
    flex-wrap: wrap;
    justify-content: center;

    .wp-block-column {
      margin-right: 1.2em !important;
      margin-bottom: 1.2em !important;
      margin-left: 1.2em !important;
      @media (min-width: 600px) and (max-width: 781px) {
        flex-basis: 42% !important;
        max-width: 42%;
      }
      @media (min-width: 782px) {
        flex-basis: 44% !important;
        max-width: 44%;
      }
      @media (min-width: 922px) {
        flex-basis: 19% !important;
        max-width: 19%;
      }
    }
  }

  &.partners {
    h2 {
      text-transform: uppercase;
    }
  }
}

/* Headings */
.picto-heading {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &:before {
    width: 60px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &.sentinelle {
    &:before {
      content: url("../img/picto-heading-sentinelle.svg");
    }
  }

  &.sos-juridique {
    &:before {
      content: url("../img/picto-heading-sos-juridique.svg");
    }
  }

  &.picto-star {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -45px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-star.svg");
    }
  }

  &.picto-share {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -45px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-share.svg");
    }
  }

  &.picto-cursor {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -45px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-cursor.svg");
    }
  }

  &.picto-archive {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -70px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-archive.svg");
    }
  }

  &.picto-award {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -45px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-award.svg");
    }
  }

  &.picto-gears {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -45px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-gears.svg");
    }
  }

  &.picto-diapason {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -52px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-diapason.svg");
    }
  }

  &.picto-time {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -52px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-time.svg");
    }
  }

  &.picto-team {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -52px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-team.svg");
    }
  }

  &.picto-bulb {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -52px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-bulb.svg");
    }
  }

  &.picto-puzzle {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -52px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-puzzle.svg");
    }
  }

  &.picto-hammer {
    align-items: flex-start;
    @media (min-width: 922px) {
      margin-left: -52px;
    }

    &:before {
      width: auto;
      margin-top: 8px;
      content: url("../img/picto-hammer.svg");
    }
  }
}

.post-5995 {
  // Sentinelle
  .entry-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &::before {
      width: 60px;
      display: flex;
      align-items: center;
      margin-right: 10px;
      content: url("../img/picto-heading-sentinelle.svg");
    }
  }
}

/* Expert block */

.wp-block-columns,
.wp-block-group {
  &.team {
    .wp-block-column {
      @media (max-width: 781px) {
        flex-basis: auto !important;
        margin-bottom: 2.5em !important;
      }
    }

    .wp-block-media-text__media {
      max-width: 150px;

      img {
        @media (max-width: 599px) {
          margin-bottom: 1em;
        }
      }
    }

    .wp-block-media-text .wp-block-media-text__content {
      padding: 0 !important;

      @media (min-width: 600px) {
        padding: 0 0 0 5% !important;
      }
    }
  }
}

/* Image with fading effect */
.img-fading {
  position: relative;
  margin-top: 60px;
  margin-bottom: 0;

  img {
    height: 190px;
    object-fit: cover;
    object-position: center;
  }

  @media (min-width: 600px) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 48%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 251, 245, 1) 0%,
        rgba(255, 251, 245, 0.9) 10%,
        rgba(255, 251, 245, 0) 100%
      );
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 48%;
      height: 100%;
      background: linear-gradient(
        to left,
        rgba(255, 251, 245, 1) 0%,
        rgba(255, 251, 245, 0.9) 10%,
        rgba(255, 251, 245, 0) 100%
      );
    }
  }
}

/* Insert */
.insert {
  padding-right: 1em;
  padding-left: 1em;
  background-color: $white;
  border: 1px solid #ece8e3;

  &.form {
    @media (max-width: 921px) {
      .wp-block-columns {
        flex-wrap: wrap;
      }

      .wp-block-column {
        flex-basis: 100% !important;

        &.stat {
          margin: 0;
          order: -1;
        }
      }
    }
  }
}

/* Tags */
.tag-list {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px dashed $brand-blue;
  border-width: 1px 0;
  color: $brand-blue;
  font-size: 16px;

  a {
    text-decoration: none;

    &:hover {
      color: $brand-blue;
    }
  }
}

/* Archive */
.blog-item-title {
  a {
    color: $dark-grey;
    text-decoration: none;

    &:focus {
      text-decoration: none;
    }
  }
}

.blog-item-date {
  font-size: 16px;
}

.archive {
  .tag-list {
    margin-bottom: 1em;
  }
}

.blog-item-excerpt {
  p {
    margin-bottom: 0.5em;
  }
}

.for-subscribers {
  margin-top: 1em;
  padding: 20px 30px;
  background-color: #ece8e3;
  font-size: 16px;

  .alert {
    margin: 0;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: bold;
  }

  .links {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 1em;
      color: $dark-grey;
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      background-color: $brand-orange;
      color: $white;
      text-decoration: none;
    }
  }

  &.sentinelle {
    .alert {
      &::before {
        display: flex;
        align-items: center;
        margin-right: 5px;
        content: url("../img/picto-sentinelle-grey.svg");
      }
    }
  }

  &.focus {
    .alert {
      &::before {
        display: flex;
        align-items: center;
        margin-right: 5px;
        content: url("../img/picto-focus-grey.svg");
      }
    }
  }
}
