body {
  line-height: $line-height;
  background-color: $light-beige;
  color: $dark-grey;
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em !important;
  line-height: $line-height-headings;
}

.h3 {
  font-size: $h3-font-size !important;
}

.h4 {
  font-size: $h4-font-size;
}

a,
a:focus {
  text-decoration: underline;
}

.read-more {
  a {
    text-decoration: none;
  }
}
