#post-5427,
#post-6132,
.type-publication,
.post-type-archive-publication,
#post-6329, /* Compte */
#post-6330, /* Connexion */
.search-results,
#post-11050, /* Mentions légales */
#post-12166, /* Publications */
#post-11101, /* Rubrique Sentinelle */
#post-17594, /* Rubrique Focus */
.tax-rubriques,
#post-12229 /* Chercher une publication */ {
  // Accueil
  .hero {
    background-image: url("../img/hero/ambiance-accueil-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-accueil.jpg");
    }
  }
}

#post-5703 {
  // Présentation
  .hero {
    background-image: url("../img/hero/droit-medecine-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/droit-medecine.jpg");
    }
  }
}

#post-5741 {
  // Métiers
  .hero {
    background-image: url("../img/hero/ambiance-metiers-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-metiers.jpg");
    }
  }
}

#post-5777,
#post-5805,
#post-5826,
#post-5828,
#post-5830 {
  // Experts
  .hero {
    background-image: url("../img/hero/ambiance-experts-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-experts.jpg");
    }
  }
}

#post-5837 {
  // Engagements
  .hero {
    background-image: url("../img/hero/ambiance-engagements-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-engagements.jpg");
    }
  }
}

#post-5852 {
  // Partenaires
  .hero {
    background-image: url("../img/hero/ambiance-partenaires-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-partenaires.jpg");
    }
  }
}

#post-5877 {
  // Recrutement
  .hero {
    background-image: url("../img/hero/ambiance-recrutement-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-recrutement.jpg");
    }
  }
}

#post-5886 {
  // Expertises
  .hero {
    background-image: url("../img/hero/ambiance-expertises-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ambiance-expertises.jpg");
    }
  }
}

#post-5906 {
  // RH
  .hero {
    background-image: url("../img/hero/ressources-humaines-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ressources-humaines.jpg");
    }
  }
}

#post-5926 {
  // Éthique
  .hero {
    background-image: url("../img/hero/ethique-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/ethique.jpg");
    }
  }
}

#post-5932 {
  // Affaires médicales
  .hero {
    background-image: url("../img/hero/affaires-medicales-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/affaires-medicales.jpg");
    }
  }
}

#post-5935 {
  // Droit hospitalier
  .hero {
    background-image: url("../img/hero/droit-hospitalier-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/droit-hospitalier.jpg");
    }
  }
}

#post-5937 {
  // Finances et budget
  .hero {
    background-image: url("../img/hero/finances-budget-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/finances-budget.jpg");
    }
  }
}

#post-5939 {
  // Achats
  .hero {
    background-image: url("../img/hero/achats-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/achats.jpg");
    }
  }
}

#post-5948 {
  // Acteurs
  .hero {
    background-image: url("../img/hero/acteurs2-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/acteurs2.jpg");
    }
  }
}

#post-5951 {
  // Établissements de santé
  .hero {
    background-image: url("../img/hero/etablissements-de-sante-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/etablissements-de-sante.jpg");
    }
  }
}

#post-5955 {
  // Établissements médico-sociaux
  .hero {
    background-image: url("../img/hero/etablissements-medico-sociaux-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/etablissements-medico-sociaux.jpg");
    }
  }
}

#post-5957 {
  // Groupements hospitaliers
  .hero {
    background-image: url("../img/hero/groupements-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/groupements.jpg");
    }
  }
}

#post-5959 {
  // Institutions
  .hero {
    background-image: url("../img/hero/institutions-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/institutions.jpg");
    }
  }
}

#post-5976 {
  // Solutions
  .hero {
    background-image: url("../img/hero/solutions2-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/solutions2.jpg");
    }
  }
}

#post-5995,
#post-10972,
.tax-collection-publication.term-sentinelle {
  // Sentinelle
  .hero {
    background-image: url("../img/hero/sentinelle-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/sentinelle.jpg");
    }
  }
}

#post-6013,
.tax-collection-publication.term-focus {
  // Focus
  .hero {
    background-image: url("../img/hero/focus-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/focus.jpg");
    }
  }
}

#post-6015 {
  // SOS Juridique
  .hero {
    background-image: url("../img/hero/sos-juridique-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/sos-juridique.jpg");
    }
  }
}

#post-6024 {
  // Audit juridique
  .hero {
    background-image: url("../img/hero/audi-juridique-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/audit-juridique.jpg");
    }
  }
}

#post-5961 {
  // Entreprise
  .hero {
    background-image: url("../img/hero/entreprises-small.jpg");

    @media (min-width: 600px) {
      background-image: url("../img/hero/entreprises.jpg");
    }
  }
}
