.site {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer {
  margin-top: auto;
}

.site-main {
  padding-bottom: 4em;
}

/* Columns */
.wp-block-columns {
  @media (max-width: 781px) {
    justify-content: center;
  }

  &.narrower {
    .wp-block-column:not(:first-child) {
      @media (min-width: 782px) {
        margin-left: 5em;
      }
    }
  }
}

.wp-block-column {
  @media (max-width: 781px) {
    margin: 0 !important;
  }

  &:not(:first-child) {
    margin-left: 1.5em;
  }
}

/* Groups */
.wp-block-group.alignwide {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 782px) {
    border-bottom: 1px dashed $brand-blue;
  }

  &.no-border {
    @media (min-width: 782px) {
      border-bottom: none;
    }
  }
}

.wp-block-group {
  // padding-top: 1em;
  // padding-bottom: 1em;

  @media (max-width: 921px) {
    padding: 2em 0;
  }

  @media (min-width: 922px) {
    padding: 2em;
  }
}

/* Archive */
.archive,
.search-results {
  .site-main {
    > .ast-row {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  #primary {
    margin-top: 0;
  }
}

/* Footer */
@media (max-width: 921px) {
  .footer-adv-widget-1,
  .footer-adv-widget-2 {
    display: none;
  }
}

.footer-address-block {
  display: flex;
  align-items: flex-start;
  @media (min-width: 922px) {
    justify-content: flex-end;
  }
}
