/* Registration form */

.mp-form-row.mepr_bold.mepr_price {
  display: none;
}

.mp-form-row {
  margin-bottom: 20px !important;
}

.memberpressproduct {
  .entry-content {
    @media (min-width: 922px) {
      width: 65% !important;
      margin: 60px auto 0 auto !important;
    }
  }
}

.mepr-unauthorized-message + .mepr-login-form-wrap {
  display: none;
}

/* Member dashboard */

#mepr-account-subscriptions-table {
  thead {
    > tr {
      > th {
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
  td[data-label*="Expiration de la carte"] {
    display: none;
  }

  .mepr-account-auto-rebill,
  .mepr-account-rebill {
    display: none;
  }
}

#mpca_sub_accounts_used {
  display: none;
}

#mpca-add-sub-user {
  margin-top: 20px;
}

#mpca-add-sub-user-form {
  input {
    margin-bottom: 20px;
  }

  label {
    > span {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

#mpca_export_sub_accounts {
  display: none;
}

#mpca_import_sub_accounts {
  display: none;
}
