/* Spacing */

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-mobile-1 {
  @media (max-width: 781px) {
    margin-bottom: 0.8em !important;
  }
}

.mb-1 {
  margin-bottom: 0.8em !important;
}

.mx-auto {
  margin: 0 auto !important;
}

/* Width */
.w-940 {
  width: 940px !important;
}

/* Flex */
.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}
