/* Colors */
$light-beige: #fffbf5;
$brand-blue: #42a1c2;
$brand-orange: #ed7f47;
$deep-blue: #3f2794;
$dark-grey: #535353;
$white: #ffffff;
$black: #000000;

/* Typography*/
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-serif: "Source Serif Pro", serif;

$h1-font-size: 43px;
$h3-font-size: 34px;
$h4-font-size: 27px;
$h5-font-size: 20px;
$lead-font-size: 22px;

$font-weight-light: 300;

$line-height: 1.5;
$line-height-headings: 1.2;
